// VARIABLES

    // Colors
    $cw: #ffffff;
    $cb: #000000;
    $c1: #00bbb9;
    $c2: #004a8a;


    // Fonts
        // FA
        $f-ul: "IRANSansWeb_Fa_UltraLight", Arial, Helvetica, sans-serif;
        $f-l: "IRANSansWeb_Fa_Light", Arial, Helvetica, sans-serif;
        $f: "IRANSansWeb_Fa", Arial, Helvetica, sans-serif;
        $f-m: "IRANSansWeb_Fa_Medium", Arial, Helvetica, sans-serif;
        $f-b: "IRANSansWeb_Fa_Bold", Arial, Helvetica, sans-serif;
        $f-bl: "IRANSansWeb_Fa_Black", Arial, Helvetica, sans-serif;
        // EN
        $f-ul-en: "IRANSansWeb_UltraLight", Arial, Helvetica, sans-serif;
        $f-l-en: "IRANSansWeb_Light", Arial, Helvetica, sans-serif;
        $f-en: "IRANSansWeb", Arial, Helvetica, sans-serif;
        $f-m-en: "IRANSansWeb_Medium", Arial, Helvetica, sans-serif;
        $f-b-en: "IRANSansWeb_Bold", Arial, Helvetica, sans-serif;
        $f-bl-en: "IRANSansWeb_Black", Arial, Helvetica, sans-serif;

    // Breakpoints 
    $xs: 599px;
    $sm: 959px;
    $md: 1263px;
    $lg: 1903px;
    $xl: 1904px;